.login-box {
  width: 100%;
}
.login-box .login {
  width: 100%;
  height: 100%;
}
.login-box .login-table {
  z-index: 100;
  width: 386px;
  height: 443px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.login-box .login-table .login-img {
  width: 382px;
  height: 45px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box .login-table .login-img img {
  width: 210px;
  height: 41px;
}
.login-box .login-table .login-tab {
  width: 386px;
  height: 360px;
  background: url(../../img/login/c_2.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box .login-table .login-tab .login-tab-login {
  width: 378px;
  height: 354px;
  background-color: #fff;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__header {
  padding: 0 25px !important;
  height: 60px;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__header .el-tabs__nav-wrap {
  height: 100%;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll {
  height: 100%;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav {
  height: 100%;
  width: 100% !important;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item {
  height: 100%;
  line-height: 60px;
  width: 50% !important;
  text-align: center;
  font-size: 15px;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__content {
  padding: 0 25px;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__content .el-tab-pane {
  margin-top: 10px;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__content .el-tab-pane .account-box {
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__content .el-tab-pane .account-box input {
  outline: none;
  height: 40px;
  width: 80%;
  margin-left: 15px;
  padding-left: 10px;
  border: 1px solid #d2d2d2;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__content .el-tab-pane .verification-box {
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  margin-top: 30px;
  display: flex;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__content .el-tab-pane .verification-box input {
  outline: none;
  height: 40px;
  width: 40%;
  margin-left: 18px;
  padding-left: 10px;
  border: 1px solid #d2d2d2;
  margin-right: 72px;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__content .el-tab-pane .verification-box button {
  width: 60px;
  border: none;
  background-color: #22d3c5;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__content .el-tab-pane .button-box {
  width: 100%;
  height: 36px;
  margin-top: 30px;
  background-color: #22d3c5;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.login-box .login-table .login-tab .login-tab-login .el-tabs__content .el-tab-pane .button-login {
  color: #22d3c5;
  font-size: 13px;
  margin-top: 18px;
  text-align: center;
  cursor: pointer;
}
