.talent-box .topbanner {
  position: relative;
  display: block;
  height: 146px;
  background-image: url(http://www.hzminsu.cn/images/policy.png);
  background-size: cover;
  background-position: center center;
}
.talent-box .topbanner .center {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  padding: 0 60px;
  height: 146px;
}
.talent-box .topbanner .center .tit {
  color: #fff;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 60px;
  margin-top: -30px;
}
.talent-box .topbanner .center .tit h5 {
  height: 40px;
  line-height: 40px;
  font-size: 22px;
}
.talent-box .topbanner .center .tit p {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
.talent-box .centerBody {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  padding: 0 60px;
}
.talent-box .centerBody .list {
  width: 103%;
  height: auto;
  display: inline-block;
  position: relative;
  min-height: 200px;
  padding-top: 60px;
  font-size: 14px;
}
.talent-box .pagination {
  width: 100%;
  height: 80px;
  margin-bottom: 0px!important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.talent-box .pagination .btn-prev,
.talent-box .pagination .btn-next {
  width: 26px;
  height: 30px;
  background-color: #ececec;
  min-width: 0 !important;
}
.talent-box .pagination .btn-prev .el-icon-arrow-left,
.talent-box .pagination .btn-next .el-icon-arrow-left,
.talent-box .pagination .btn-prev .el-icon-arrow-right,
.talent-box .pagination .btn-next .el-icon-arrow-right {
  font-size: 16px;
}
.talent-box .pagination .el-pager {
  height: 30px;
  margin: 0 5px;
}
.talent-box .pagination .el-pager li {
  border: 1px #ffa200 solid;
  width: 28px;
  min-width: 0;
  padding: 0;
}
.talent-box .pagination .el-pager .number,
.talent-box .pagination .el-pager .active {
  text-align: center;
  color: #ffa200;
}
.talent-box .pagination .btn-next {
  padding-left: 5px;
}
